<head xmlns:th="http://www.w3.org/1999/xhtml">
    <title th:text="${pageTitle}"></title>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/p-favicon.png">
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/base.css" rel="stylesheet" type="text/css" />
    <link href="/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/css/module.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
</head>
